	// This file is horribly outdated, do not use it!

// CONFIG.KDL FILE by xitofa
		// INPUTS
input {
    focus-follows-mouse
	// KEYBOARD
    keyboard {
        xkb {
            layout "de"
        }

         repeat-delay 250
         repeat-rate 25
         track-layout "global"
         numlock
    }
	// MOUSE
    mouse {
        accel-profile "flat"
    }
}

		// KEYBINDS
binds {
	// HELP
    Mod+Shift+M        { show-hotkey-overlay; }

	// WORKFLOW
    Mod+T repeat=false { spawn "alacritty"; }
    Mod+G repeat=false { spawn "firefox"; }
    Mod+D repeat=false { spawn "fuzzel"; }
    
    	// WINDOWFLOW
    Mod+V              { toggle-window-floating; }
    Mod+W              { toggle-column-tabbed-display; }
    Mod+Shift+V        { switch-focus-between-floating-and-tiling; }
    Mod+Q repeat=false { close-window; }
    
    Mod+Left           { focus-column-left; }
    Mod+Right          { focus-column-right; }
    Mod+Up             { focus-window-up; }
    Mod+Down           { focus-window-down; }
    
    Mod+Ctrl+Left      { move-column-left; }
    Mod+Ctrl+Right     { move-column-right; }
    Mod+Ctrl+Up        { move-window-up; }
    Mod+Ctrl+Down      { move-window-down; }
    
    Mod+F              { maximize-column; }
    Mod+Shift+F        { fullscreen-window; }
    Mod+C              { center-column; }
    Mod+O              { toggle-overview; }
    
    Mod+R              { switch-preset-column-width; }
    
    	// MISCELLANEOUS
    Print              { screenshot; }
    Ctrl+Print         { screenshot-screen; }
    Alt+Print          { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}


		// LOOK && FEEL
layout {
	// WINDOWS
    gaps 6
    center-focused-column "never"
    default-column-width { proportion 0.5; }

	// PROPORTIONS
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        off
    }

	// OUTLINE COLORS --- BORDER
    border {
        width 3
        active-color    "#7fc8ff"
        inactive-color  "#505050"
        urgent-color    "#9b0000"
    }
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

	// ANIMATIONS
animations {
    slowdown 0.5
}

		// MISCELLANEOUS
prefer-no-csd
spawn-at-startup "waybar"
